@page "/debug"

<h1>Debug Page</h1>
<p>Esta é uma página de debug simples</p>
<p>Hora atual: @DateTime.Now.ToString("HH:mm:ss")</p>
<hr />
<h2>Teste de Links</h2>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/login-simple">Login Simple</a></li>
    <li><a href="/test">Test</a></li>
    <li><a href="/register">Register</a></li>
</ul>
